<div class="card shadow mb-3 my-1" style="max-width: 540px">
  <h5 class="card-header">{{ item.name }}</h5>
  <div class="card-body">
    <fieldset class="border p-2">
      <legend class="w-auto"><h6>Discription:</h6></legend>
      {{ item.description }}
    </fieldset>
    <fieldset class="border p-2">
      <legend class="w-auto"><h6>Balance:</h6></legend>
      {{ item.count }}
    </fieldset>
  </div>
  <div class="text-right mr-3">
    <p>
      <sub
        ><i>ID: {{ item.id }}</i>
      </sub>
    </p>
  </div>
  <div class="card-footer text-center">
    <a href="edit/{{ item.id }}" class="btn btn-primary mx-1">EDIT</a>
    <button
      (click)="onDelete(item)"
      button
      type="button"
      class="btn btn-danger"
    >
      DELETE
    </button>
  </div>
</div>
